article {
  margin-top: 80px;
  margin-bottom: 20px;
}
/*Logo on side with 2 lines of text*/
@media (max-width: 1058px) {
  nav {
  }
  .logoheader {
    padding-top: 48.22px;

  }
  article {
    padding-top: 70px;
  }
  .centerimg {
  }

  .navbar{

  }
}
/*Logo on top with 2 lines of text*/
@media (max-width: 660px) {
  nav {
  }
  .logoheader {
    float: none;
    width: 200px;
    display: block;
    margin: auto;
  }
  article {
    padding-top: 206px;
  }
  .centerimg {
    align: center;
    display: block;

  }

  .navbarcolour{
    margin: auto;
    align:center;

  }
}
@media (max-width: 533px) {
  nav {
  }
  .logoheader {
    float: none;
    width: 200px;
    display: block;
    margin: auto;
  }
  article {
    padding-top: 0px;
  }
  .centerimg {
    align: center;
    display: block;

  }

  .navbar{
    margin: auto;
    align:center;
    position: static;

  }
  .navbarcolour{
    margin: auto;
    align:center;
    display: block;
    position: static;

  }
}

@media (max-width: 369px) {
  nav {
  }
  .logoheader {
    float: none;
    width: 100px;
    display: block;
    margin: auto;
  }
  article {
    padding-top: 3px;
  }
  .centerimg {
    align: center;
    display: block;

  }
  .navbar{
    margin: auto;
    align:center;
    position: static;

  }
  .navbarcolour{
    margin: auto;
    align:center;
    display: block;
    position: static;

  }
}
