body, html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;

}



p {
  font-family: "Lato", sans-serif;
  line-height: 28px;
  font-size: 16px;
  text-shadow: left;
}

h1 {
  font-family: "Lato", black 900;
  font-size: 30px;
  color: #2d2d2d;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
}

h2 {
  font-family: "Lato", regular;
  font-style: normal;
  font-size: 22px;
  color: #2d2d2d;
  text-align: center;
}

h3 {
  font-family: "Lato", regular 400;
  font-style: normal;
  font-size: 18px;
  color: #ff6142;
}

h4 {
  font-style: italic;
  font-size: 10px;
}

.toppage {
  margin-top: 0px;
}


aside{
  display: block;
  float: right;
  padding: 10px;
  background-color: #ddd;
}

article{
max-width: 2000px;
margin: auto;

}

hr {

  border: none;
  height: 3px;
  /* Set the hr color */
  color: #ff6142;
  /* old IE */
  background-color: #ff6142;
  /* Modern Browsers */
}

.navbarcolour {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar{
  margin: 0 auto;
}

.navbar a {
  float: left;
  display: inline-grid;
  color: #ff6142;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 1px;
  margin-left: auto;
margin-right: auto;
  padding: 15px;
  text-decoration: none;
  font-size: 1.1em;

}

.divstyle {
  style="max-width: 85%; margin-left:auto;margin-right:auto;"
}

.contact h3 {
  padding-bottom: 0px;
text-align: center;

}

.contact td {
  padding: : 0px;
  text-align: center;
  vertical-align: text-top;
}

.contact p{
  text-align: center;
}

.contact tr {
  padding: 0px;
}
.contactpage{
  width: 300px;
  margin: 0 auto;
  padding-top: 10px;
display:inline-grid;

  /*float: auto;*/
}
.navbar {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navbar a:hover {
  color: #fff
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
  /* Used in this example to enable scrolling */
}

.logoheader {
  float: left;
  width: 100px;
  padding-top: 12.32px;

}

.signup {
  float: right;
  padding: 15px;
}

footer {
  float: bottom;
  align-content: right;
  align-items: right;
  padding: 5px;
  margin-top: 1px;
  color: #ff6142;
  background-color: #333;
  text-align: center;
  font-size: 14px;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer {}

.footer {
  color: #ff6142;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 1px;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

.blackbackground {
  background-color: #333;
}

.blackbackground h1 {
  padding: 20px;
  margin-top: 20px;
  color: #fff;
}

table {
  padding: 10px;
  border-spacing: 0px;
}

td {
  padding-left: : 20px;
  padding-right: 20px;

}

th {
  text-align: left;
  border-bottom: 3px solid;
  border-color: #ff6142;
}

.agendatable {



}

.agendatable tbody{
}
.agendatable td{
  padding: 20px;
  text-align: center;
width: inherit;
  /*margin-top: 5px;
  margin-bottom: 5px;*/

}
.agendatable th{
text-align: center;
padding-left: 15px;
padding-right: 15px;
}

.agendatable tr:nth-child(even) {
  background-color: #dddddd;

}
.agenda{
  text-align: center;
  margin: auto;
  font-size: 1.2em;
border:0px;
/*border-top: 0px;
border-bottom: 2px;
border-left: 0px;
border-right: 0px;

  border-style: solid;
  border-color: #ff6142;*/

}

/*.signup h2{

  font-size: 20px;
  color:#ff6142;
}

.signup label{
  line-height: 28px;
  font-size: 16px;
  padding: 15px;
}*/

.tablink {
  background-color: #333;
  color: #ff6142;
  border: none;
  outline: none;
  cursor: pointer;
  width=100%;
}

.fa {
  padding: 15px;
  font-size: 30px;
  border-radius: 10px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #ff6142;
  color: white;
}

.fa-twitter {
  background: #ff6142;
  color: white;
}

.people{
  max-width: 200px;
  width:30%;
  /*float: left;*/
  padding: 5px;
border: 2px;
border-radius: 10px;
border-color: #333;
}

.left {
  /*display: block;*/
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.leftslide {
  display: block;
  float: left;
  max-width: 300px;
  width: 50%;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.mailingright{
  display: block;
  float: right;
}

.navbutton {
  background-color: #ff6142;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  width: 300px;
  margin: 4px 2px;
  border-radius: 25px;
  cursor: pointer;
  font-family: "Lato", regular;
  /*height: 70px;*/
}

.pagebutton {
  background-color: #ff6142;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 200px;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Lato", regular;
}

.pagebutton:hover {
  opacity: 0.5;

}

div.gallery:hover {
  /*border: 1px solid #777;*/
}

div.gallery img {
  width: inherit;
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

button.accordion {
  background-color: #ddd;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
button.accordion.active{
  background-color: #ddd;

}
 button.accordion:hover {
  background-color: #ff6142;
}

div.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
}

.inspire{
border: 2px;
border-color: #ff6142;
display: block;
border-style: solid;
padding: 10px;
font-size: 20px;
padding-top: 20px;
padding-bottom: 20px;
}

.imgbut{
  border-radius: 25px;
}
/** {
    box-sizing: border-box;
}*/

.imgbut:hover{
  opacity:0.5;

}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
